# Turn rewrite engine on
Options +FollowSymlinks
RewriteEngine on

# map neat URL to internal URL
RewriteRule ^mobile/list/$   RestController.php?view=all [nc,qsa]
RewriteRule ^mobile/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]




RewriteRule ^api/getCountry/$  RestController.php?view=GET_COUNTRY [nc,qsa]
RewriteRule ^api/signUp/$  RestController.php?view=SIGNUP [nc,qsa]
RewriteRule ^api/checkOTP/$  RestController.php?view=CHECK_OTP [nc,qsa]
RewriteRule ^api/updateAccount/$  RestController.php?view=UPDATE_ACCOUNT [nc,qsa]
RewriteRule ^api/support/$  RestController.php?view=CREATE_SUPPORT [nc,qsa]
RewriteRule ^api/updateLastSeen/$  RestController.php?view=UPDATE_LAST_SEEN [nc,qsa]
RewriteRule ^api/getprofile/$  RestController.php?view=GET_PROFILE [nc,qsa]
RewriteRule ^api/sendNotify/$  RestController.php?view=SEND_NOTIFY [nc,qsa]
RewriteRule ^api/getmaxid/$  RestController.php?view=GET_MAXID [nc,qsa]
RewriteRule ^api/getnotifyafter/$  RestController.php?view=GET_NOTIFYAFTER [nc,qsa]
RewriteRule ^api/getAdminEmail/$  RestController.php?view=GET_ADMINEMAIL [nc,qsa]
